pipeline/PL_Denodo_ES_reports_full.json
{
	"name": "PL_Denodo_ES_reports_full",
	"properties": {
		"activities": [
			{
				"name": "Count reports",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": "SELECT COUNT(*) \nFROM search.i_tableau_report",
						"queryTimeout": "00:03:00"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "count",
									"type": "Int64"
								},
								"sink": {
									"path": "$['count']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ODBC_Denodo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_JSON_pipelines",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "reports_count.json"
						}
					}
				]
			},
			{
				"name": "If count greater 0",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Read count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Read count').output.firstRow.count, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No reports found",
								"errorCode": "404"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy reports to CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": "SELECT * \nFROM \"search\".\"i_tableau_report\" LEFT JOIN (\nSELECT \"Samaccountname\", \"Surname\", \"GivenName\", \"EmailAddress\" \nFROM \"si_transverse\".\"i_staff_with_device\") \nON report_owner_name = \"Samaccountname\"",
									"queryTimeout": "00:20:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS_STRUCTURED",
											"type": "LinkedServiceReference"
										},
										"path": "pipelines/logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "site_name",
												"type": "String"
											},
											"sink": {
												"name": "site_name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_id",
												"type": "String"
											},
											"sink": {
												"name": "report_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_title",
												"type": "String"
											},
											"sink": {
												"name": "report_title",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_description",
												"type": "String"
											},
											"sink": {
												"name": "report_description",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_url",
												"type": "String"
											},
											"sink": {
												"name": "report_url",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_creation_date",
												"type": "String"
											},
											"sink": {
												"name": "report_creation_date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_update_date",
												"type": "String"
											},
											"sink": {
												"name": "report_update_date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_project_tableau_server",
												"type": "String"
											},
											"sink": {
												"name": "report_project_tableau_server",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_owner_name",
												"type": "String"
											},
											"sink": {
												"name": "report_owner_name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_tags",
												"type": "String"
											},
											"sink": {
												"name": "report_tags",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_preview_image_url",
												"type": "String"
											},
											"sink": {
												"name": "report_preview_image_url",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "report_list_views",
												"type": "String"
											},
											"sink": {
												"name": "report_list_views",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Samaccountname",
												"type": "String"
											},
											"sink": {
												"name": "Samaccountname",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Surname",
												"type": "String"
											},
											"sink": {
												"name": "Surname",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "GivenName",
												"type": "String"
											},
											"sink": {
												"name": "GivenName",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "EmailAddress",
												"type": "String"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ODBC_Denodo",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSV_pipelines",
									"type": "DatasetReference",
									"parameters": {
										"file_name": "reports.csv"
									}
								}
							]
						},
						{
							"name": "Transform reports",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy reports to CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_Transform_reports",
									"type": "DataFlowReference",
									"datasetParameters": {
										"DenodoReports": {
											"file_name": "reports.csv"
										},
										"Export": {
											"file_name": "reports_clean.json"
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "MVNIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Read reports clean",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Transform reports",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DS_JSON_pipelines",
									"type": "DatasetReference",
									"parameters": {
										"file_name": "reports_clean.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Add views",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load to ES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ES_ES_reports_views",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"index_user_events": {
										"value": "@pipeline().parameters.index_user_events",
										"type": "Expression"
									},
									"index_target": {
										"value": "@pipeline().parameters.index",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Add popularity",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load to ES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ES_ES_reports_popularity",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"index_user_events": {
										"value": "@pipeline().parameters.index_user_events",
										"type": "Expression"
									},
									"index_target": {
										"value": "@pipeline().parameters.index",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Add opens",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load to ES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ES_ES_reports_opens",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"index_user_events": {
										"value": "@pipeline().parameters.index_user_events",
										"type": "Expression"
									},
									"index_target": {
										"value": "@pipeline().parameters.index",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load to ES",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Delete index data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Load_to_Elasticsearch",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"data": {
										"value": "@activity('Read reports clean').output.value",
										"type": "Expression"
									},
									"size": 300,
									"index": {
										"value": "@pipeline().parameters.index",
										"type": "Expression"
									},
									"id_key": {
										"value": "@variables('id_key')",
										"type": "Expression"
									},
									"terms_field": {
										"value": "@variables('terms_field')",
										"type": "Expression"
									},
									"index_dictionary": {
										"value": "@pipeline().parameters.index_dictionary",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Delete index data",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Read reports clean",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Delete_ES_index",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"count": {
										"value": "@activity('Read reports clean').output.count",
										"type": "Expression"
									},
									"index": {
										"value": "@pipeline().parameters.index",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Read count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Count reports",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_pipelines",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "reports_count.json"
						}
					}
				}
			}
		],
		"parameters": {
			"index": {
				"type": "string",
				"defaultValue": "idx_reports2"
			},
			"index_user_events": {
				"type": "string",
				"defaultValue": "idx_user_events2"
			},
			"index_dictionary": {
				"type": "string",
				"defaultValue": "idx_dictionary2"
			}
		},
		"variables": {
			"id_key": {
				"type": "String",
				"defaultValue": "report_id"
			},
			"terms_field": {
				"type": "String",
				"defaultValue": "report_tags"
			}
		},
		"folder": {
			"name": "Pipelines_portail/Denodo_ES_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-10T09:29:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}