pipeline/PL_Mongo_ES_full.json
{
	"name": "PL_Mongo_ES_full",
	"properties": {
		"activities": [
			{
				"name": "Copy user events to JSON",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"batchSize": 100
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "LS_ADLS_STRUCTURED",
								"type": "LinkedServiceReference"
							},
							"path": "pipelines/logs"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$oid']"
								},
								"sink": {
									"path": "id"
								}
							},
							{
								"source": {
									"path": "$['user_id']"
								},
								"sink": {
									"path": "user_id"
								}
							},
							{
								"source": {
									"path": "$['event_date']['$date']"
								},
								"sink": {
									"path": "event_date"
								}
							},
							{
								"source": {
									"path": "$['event_type']"
								},
								"sink": {
									"path": "event_type"
								}
							},
							{
								"source": {
									"path": "$['ressource_id']"
								},
								"sink": {
									"path": "ressource_id"
								}
							},
							{
								"source": {
									"path": "$['ressource_type']"
								},
								"sink": {
									"path": "ressource_type"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Cosmos_back_user_events",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_JSON_pipelines",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "user_events.json"
						}
					}
				]
			},
			{
				"name": "Transform user events",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy user events to JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Transform_user_events",
						"type": "DataFlowReference",
						"datasetParameters": {
							"MongoUserEvents": {
								"file_name": "user_events.json"
							},
							"Export": {
								"file_name": "user_events_clean.json"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MVNIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Read user events clean",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Transform user events",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_pipelines",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "user_events_clean.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load to ES",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete index data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Load_to_Elasticsearch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"data": {
							"value": "@activity('Read user events clean').output.value",
							"type": "Expression"
						},
						"size": 1000,
						"index": {
							"value": "@pipeline().parameters.index",
							"type": "Expression"
						},
						"id_key": {
							"value": "@variables('id_key')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Delete index data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Read user events clean",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Delete_ES_index",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"count": {
							"value": "@activity('Read user events clean').output.count",
							"type": "Expression"
						},
						"index": {
							"value": "@pipeline().parameters.index",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"index": {
				"type": "string",
				"defaultValue": "idx_user_events2"
			}
		},
		"variables": {
			"id_key": {
				"type": "String",
				"defaultValue": "id"
			}
		},
		"folder": {
			"name": "Pipelines_portail/Mongo_ES_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-07T09:47:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}